name: forwarder
description: Приложение для экспедиторов
publish_to: 'none'
version: 1.16.3+166

environment:
  sdk: '>=3.7.0 <4.0.0'

dependencies:
  audioplayers: ^6.5.0
  barcode_widget: ^2.0.4
  collection: ^1.17.1
  cross_file: ^0.3.3
  crypto: ^3.0.3
  drift: ^2.24.0
  easy_refresh: ^3.3.2
  equatable: ^2.0.5
  flex_color_scheme: ^8.3.1
  flutter:
    sdk: flutter
  flutter_bloc: ^9.0.0
  flutter_cache_manager: ^3.4.1
  flutter_localizations:
    sdk: flutter
  geolocator: ^14.0.2
  gs1_barcode_parser: ^1.1.0
  image_picker: ^1.2.1
  mask_text_input_formatter: ^2.4.0
  package_info_plus: ^8.1.3
  path: ^1.9.0
  path_provider: ^2.0.9
  provider: ^6.0.5
  pub_semver: ^2.1.1
  quiver: ^3.2.1
  rxdart: ^0.28.0
  sentry_flutter: ^9.7.0
  sqlite3_flutter_libs: ^0.5.0
  u_app_utils:
    git:
      url: git@github.com:Unact/u_app_utils.git
      ref: a3fbae4
  url_launcher: ^6.3.0

dev_dependencies:
  build_runner: ^2.4.14
  drift_dev: ^2.24.0
  flutter_launcher_icons: ^0.14.3
  flutter_lints: ^5.0.0
  flutter_test:
    sdk: flutter

flutter_launcher_icons:
  android: 'launcher_icon'
  ios: true
  image_path: 'assets/logo.png'
  min_sdk_android: 21

flutter:
  assets:
    - assets/beep_error.mp3
    - assets/beep_success.mp3
  uses-material-design: true
